@media only screen and (min-width: 768px) {

    html,
    body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }

    #container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #Nav-Bar ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    #Home-section {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 30px;
    }

    #personal-image {
        width: 50%;
    }

    #personal-image img {
        height: 200px;
        width: 70%;
        object-fit: cover;
        top: 30px;
    }

    #about {
        width: 50%;
    }

    #about p {
        text-align: left;
        padding-left: 30px;

    }

    #Nav-Bar ul li {
        background-color: #f6f6f6;
    }


    #portfolio-header {
        align-self: flex-start;
        width: 100%;
    }

    #projects {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .portfolio-project {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    


    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #btt {
        display: none;
    }

    #footer ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
    }

    #footer ul li {
        margin: 0px 3px 0px 3px;
    }

}

